<h1 style="color: red; font-weight: bold">Hola Mundo</h1>
<h1 class="azul">Hola Mundo</h1>

<p>Hola, mi nombre es Pablo Vega</p>

<img src="./imagen.webp" alt="" />

<h2>Título: {{ title }}</h2>
<h3>Nombre: {{ nombre }}</h3>

<h3>{{ mayorEdad() }}</h3>

<h1>User profile</h1>
<app-user-profile
  name="Harry Potter"
  role="Mago"
  (selected)="recuperarNombre($event)"
></app-user-profile>

ValorHijo = {{ valorHijo }}
<p [class]="naranja">Hola, mi nombre es {{ name }}</p>
<p [innerHTML]="name"></p>
<p>{{ imgUrl }}</p>

Imagen 1 : <img [src]="imgUrl" /> <br />
Imagen 2 : <img src="{{ imgUrl }}" />

<input type="checkbox" [checked]="marcado" />
<input type="text" [disabled]="deshabilitado" />

<div>{{ asignatura.nombre }}</div>
<div>{{ asignatura.codigo }}</div>

<h1>Componente alumnos</h1>
<app-alumno></app-alumno>
<br /><br />
<button id="boton" (click)="mostrarNombre()">Pulsame</button>
<input type="text" value="{{ nombreCompanero }}" />
<br /><br />
<input type="text" (keyup)="mostrarTexto($event)" /> <br />

<p>{{ valor }}</p>
<br />

<input type="text" [(ngModel)]="ejemplo" />
<div>
  {{ ejemplo }}
</div>

<input type="text" [(ngModel)]="texto1" value="{{ texto2.toUpperCase() }}" />
<br />
<input type="text" [(ngModel)]="texto2" value="{{ texto1.toUpperCase() }}" />

<h1>Datos Libros</h1>
<app-datos-libro></app-datos-libro>
