<h1>Andorra</h1>
<div class="infoAndorra" *ngIf="andorra$ | async as andorra">
  <h3>{{ andorra[0].name.official }}</h3>
  <p>Capital: {{ andorra[0].capital[0] }}</p>
  <img src="{{ andorra[0].flags.png }}" alt="" />
</div>
<h2>Detalle del País</h2>
<p *ngIf="andorra$ | async as andorra">
  Mis comentarios del país {{ andorra[0].name.official }}
</p>
<form action="">
  <input type="text" [(ngModel)]="opinion" name="opinion" />
  <button [disabled]="!opinion" (click)="registrarOpinion()">
    Registrar opinion
  </button>
</form>


<app-comentario *ngIf="!emptyOpinion" [opinion]="opinion"> </app-comentario>

