<h2>Artículo</h2>
<form action="#">
    <label for="nombre">Nombre </label>
    <input type="text" name="nombre" [(ngModel)]="nombre">

    <br>

    <label for="precio">Precio </label>
    <input type="text" name="precio" [(ngModel)]="precio">

    <br>

    <label for="unidades">Unidades </label>
    <input type="text" name="unidades" [(ngModel)]="unidades">

    <br>

    <button (click)="comprar()">Comprar</button>
</form>

<p>Articulos que tenemos: </p>

<div *ngFor="let articulo of articulos; let i = index">
    <p>Articulo {{i + 1}}:</p>
    <p>Nombre: {{articulo.nombre}}</p>
    <p>Precio: {{articulo.precio}}</p>
    <p>Unidades: {{articulo.unidades}}</p>
    <p>-------------------------------------</p>
</div>
