<h2>Artículo</h2>
<form action="#">
  <label for="nombre">Nombre </label>
  <input type="text" name="nombre" [(ngModel)]="nombre" />

  <br />

  <label for="precio">Precio </label>
  <input type="text" name="precio" [(ngModel)]="precio" />

  <br />

  <label for="unidades">Unidades </label>
  <input type="text" name="unidades" [(ngModel)]="unidades" />

  <br />

  <button (click)="comprar()">Comprar</button>
</form>
<div style="background-color: rgb(196, 142, 247)">
  <app-listado-articulo [articulos]="articulos"></app-listado-articulo>
</div>
